 h1 {
     text-align: center;
     color: blueviolet;
 }

 img {
     width: 50%;
     margin: 0 auto;
     display: block;
 }

 form {
     margin: 0 auto;
     display: block;
     text-align: center;
 }

 .contact-btn {
     display: block;
     margin: 0 auto;
     width: 200px;
 }